<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page</title>
  </head>
  <body>
    <h1>Main Page</h1>

    <h2>Model</h2>
    <ul>
      <li><a href="/users">User</a></li>
      <li><a href="/orders">Order</a></li>
      <li><a href="/products">Product</a></li>
      <li><a href="/feedbacks">Feedback</a></li>
      <li><a href="/weather">Weather</a></li>
    </ul>
  </body>
</html>
